site_name: Universal Arena
site_url: https://HVS13.github.io/UniversalArena
theme:
  name: material
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
plugins:
  - search
nav:
  - Home: index.md
  # - Adding Content: adding-content.md
  - Terminology: terminology.md
  - Keywords: keywords.md
  - Card Types: card-types.md
  - Status Effects: status-effects.md
  - FAQ: faq.md
  - Characters:
      - Overview: characters/index.md
      - Rover (Spectro): characters/rover-spectro.md
      - Template: characters/template.md
markdown_extensions:
  - toc:
      permalink: true
  - tables
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
extra_css:
  - stylesheets/guide.css
extra_javascript:
  - javascripts/guide.js
