site_name: Universal Arena
site_url: https://hvs13.github.io/UniversalArena/
theme:
  name: material
  custom_dir: docs/overrides
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
plugins:
  - search
exclude_docs: |
  game/index.md
nav:
  - Home: index.md
  # - Play: game/index.md
  # - Adding Content (internal only): adding-content.md
  - Terminology: terminology.md
  - Keywords: keywords.md
  - Card Types: card-types.md
  - Status Effects: status-effects.md
  - Roles: roles.md
  - FAQ: faq.md
  - Characters:
      - Overview: characters/index.md
      - Goku (Saiyan Saga): characters/goku-saiyan-saga.md
      - Leon S. Kennedy (Resident Evil 4): characters/leon-s-kennedy-re4.md
      - Monkey D. Luffy (Pre-Timeskip): characters/monkey-d-luffy-pre-timeskip.md
      - Rover (Spectro): characters/rover-spectro.md
      - Saitama (Base): characters/saitama.md
      - Light Yagami (Kira): characters/light-yagami-kira.md
markdown_extensions:
  - toc:
      permalink: true
  - tables
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
extra_css:
  - stylesheets/guide.css
  - stylesheets/game.css
extra_javascript:
  - javascripts/guide.js
  - javascripts/print.js
  - javascripts/game/config.js
  - javascripts/game/game.js
